# Eclipse.
bin
*.launch
.settings
.metadata
.classpath
.project
# .idea
out
*.ipr
*.iws
*.iml
.idea
# Gradle.
build
.gradle
# Other.
eclipse
run
# Mac
*.DS_Store
# Rust
target/
*.lock
/.trae
/.vscode
src.zip
/.vscode
.vscode/settings.json
mods
/run
/run/logs
/run/sakura-config
/run/logs
/run/logs
run/logs/debug-2.log.gz
run/sakura-config/modules/AutoCombat.json
*.json
/run
!src/main/resources/assets/sakura/lang/
!src/main/resources/assets/sakura/lang/*.json
!src/main/resources/assets/sakura/shaders/**/*.json
/run/sakura-config
